# Build output
main.js

# Dev vault (created by `make create-dev-vault`)
/dev-vault/
/data.json
/.s3rver-data/

# Node
/node_modules/

# Env files
.env
.env.local

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
